@use "../../styles/colors";

.user {
    display: flex;
    flex-direction: column;
}

.name {
    color: colors.$text_primary;
    font-size: 8px;
    font-weight: bold;
    display: inline;
    overflow-wrap: break-word;
    translate: 55%;
    margin-top: 20px;
}

.info {
    color: colors.$success_main;
    margin: 0rem;
    font-size: 0.85rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    translate: 55%;
}