@use "../../styles/colors";

.card{
    position: relative;
    max-width: 21rem;
    min-width: 250px;
    border-radius: 0.9375rem;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.card:hover{
    cursor:pointer;
}

.cardActive{
    position: relative;
    min-width: 250px;
    max-width: 21rem;
    width: 100%;
    border-radius: 0.9375rem;
    background-color: #264645 !important;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.cardActive:hover{
    cursor:pointer;
}

.badge{
    position: absolute;
    top: 100px;
    left: 30px;
    background-color: colors.$secondary_main;
    color:#000;
    border-radius: 1rem;
    height: 1.875rem !important;
    width: auto;
    text-align: center;
    font-size: 14px;
    padding: 4px;
}

.media{
    padding: 0.625rem 0.9375rem;
    height: 18.75rem;
    width: 18.75rem;
    border-radius: 1.875rem;
}

.countdown{
    position: absolute;
    top: 345px;
    left: 0.95rem;
    height: auto;
    max-width: 89%;
    width: 100%;
    padding: 0.625rem 0.9375rem;
    border-bottom-left-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
    background-color: colors.$secondary_main;
    line-height: 5px;
    text-align: center;
    color: #000;
    font-weight: bold;
}

@media (max-width : 1335px) {
    .countdown{
        max-width: 91%;
        min-width: 85%;
    }
}

@media (max-width : 380px) {
    .countdown{
        max-width: 91%;
        width: 88%;
        min-width: 85%;
    }
}

.cardAction{
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    line-height: 1.5;
}

.title{
    font-size: 1rem;
    font-weight: 900;
    min-height: 60px;
    max-height: 60px;
}

.price{
    font-size: 1rem;
    color: colors.$secondary_main;
    font-weight: 700;
}

.likes{
    margin-left: auto;
    border: 3px solid;
    border-color: #000;
    color: colors.$secondary_main !important; 
    background-color: #1a2e2d !important;
    max-height: 2rem ;
    height: 100%;
    border-radius: 1.25rem ;
    font-size: 1rem ;
    font-weight: 600;
}

.icon{
    color: colors.$secondary_main !important; 
}