@use "../../styles/colors";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background: colors.$background_paper;
}

.logo{
    display: flex;
}

.input {
    background: colors.$background_default;
    border: 2px solid colors.$background_default;
    border-radius: 30px;
    margin-right: 13rem;
    border-radius: 25px;
    font-size: 1px;
    padding-left: 10px;
    width: 100%;
    height: 30px;
}