.avatar {
    position: relative;
    display: block;
    margin: auto;
}

.image{
    position: absolute;
    border-radius: 50%;
    width: 100%
}

.badge{
    position: absolute;
    border-radius: 50%;
    max-width: 33%;
    right: -5px;
    top: 30px;
}